{% extends 'core/base.html' %}
{% load static %}
<!--Necesario para cargar las imagenes static-->
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="contenedorImagen centrar">
            <img class="fondoContenedorImagen" src="{% static 'core/img/Socio.jpg' %}" style="width:1140px" />
        </div>
        <p><a name="socio_1"></a></p>
        <div class="row separacionFila">
            <div class="col-md-5">
                <hr class="hrEvento" />
            </div>
            <div class="col-md-2 centrar centrarObjeto">
                <span class="letraNaranja">TRABAJA COMO ASOCIADO</span>

            </div>
            <div class="col-md-5">
                <hr class="hrEvento" />
            </div>

        </div>
        <p>
            Trabajar para participar en la transformación del mundo es posible. El socio activo-cooperante es aquella
            persona que ha optado por comprometerse de forma activa con la ONG, participando en una determinada área de
            actividad de la misma llevando a cabo, personal y directamente, con medios propios o cedidos por la
            organización, al menos cada dos años, los fines sociales de esta en cualquier lugar del mundo.


            Igualmente el asociado colabora activamente (sin remuneración de ningún tipo) al desarrollo del conjunto de
            los proyectos de AID CHILDREN OF THE WORLD.


            Como asociado no existen aportaciones económicas obligatorias de ningún tipo.

        </p>

        <p><a name="colaborador_2"></a></p>
        <div class="row separacionFila">
            <a name="colaborador">
                <div class="col-md-4">
                    <hr class="hrEvento" />
                </div>
                <div class="col-md-4 centrar centrarObjeto">
                    <span class="letraNaranja">TRABAJA COMO COLABORADOR</span>

                </div>
                <div class="col-md-4">
                    <hr class="hrEvento" />
                </div>
            </a>
        </div>
        <p>
            Las personas o entidades colaboradoras son aquellas que con carácter puntual o excepcional colaboran con la
            ONG en trabajos concretos, dando apoyo y cobertura al desarrollo de proyectos de ayuda o desarrollo
            específicos. Su vinculación con AID CHILDREN OF THE WORLD es parcial y no permanente en el tiempo.

            Esta ayuda puede ser mediante la participación en acciones concretas, mediante la difusión de las
            actividades de la ONG o mediante donaciones específicas.


        </p>
        <p><a name="donacion_3"></a></p>
        <div class="row separacionFila">
            <a name="donacion">
                <div class="col-md-5">
                    <hr class="hrEvento" />
                </div>
                <div class="col-md-2 centrar centrarObjeto">
                    <span class="letraNaranja">DONACIONES</span>
                </div>
                <div class="col-md-5">
                    <hr class="hrEvento" />
                </div>
            </a>
        </div>
        <p>
            El principio general de desarrollo de proyectos de AID CHILDREN OF THE WORLD es la no existencia de cuotas
            de asociados ni donaciones periódicas permanentes. El principio de gestión se basa en AYUDAS CONCRETAS PARA
            PROYECTOS CONCRETOS.
        </p>
        <p>
            Haciendo un donativo (que puede ser en medios económicos o materiales) a AID CHILDREN OF THE WORLD puedes
            colaborar, de forma excepcional, en el proceso de gestión de cualquiera de los proyectos que se están
            llevando a cabo, con el fin de colaborar en posibilitar su desarrollo (contratación de medios de transporte,
            adquisición de materiales específicos: material didáctico, sanitario, higiénico, etc.) o adquisición de
            medios para el desarrollo de proyectos en destino.
        </p>
        <p>
            Las donaciones materiales se pueden efectuar en la sede de la entidad. Las donaciones económicas se pueden
            realizar en la cuenta de la asociación.

        </p>
        <p>
            TOMA NOTA DE NUESTRO NÚMERO DE CUENTA:
        </p>
        <p>
            <strong>Unicaja: ES32 2103 / 3050 / 08 / 0030030219</strong>

        </p>

    </div>
</div>

{% endblock %}