{% extends 'core/base.html' %}
{% load static %}
<!--Necesario para cargar las imagenes static-->
{% block content %}


<div class="row separacionFila">
    <div class="col-md-12">
        <div class="contenedorImagen centrar">
            <img class="fondoContenedorImagen" src="{% static 'core/img/contacto.jpg' %}" style="width:1140px" />
        </div>
        <div class="row separacionFila">
            <div class="col-md-4">
                <hr class="hrEvento" />
            </div>
            <div class="col-md-4 centrar centrarObjeto">
                <span class="letraNaranja negrita"><strong>CONTACTO</strong></span>
            </div>
            <div class="col-md-4">
                <hr class="hrEvento" />
            </div>
        </div>
        <address>
            <p>
                <strong>Dirección: </strong>Aid Children of the world
                Bulevard Louis Pasteur, 5, oficina 321
                29010-Málaga, España
            </p>
            <p><strong>Telf:</strong> 952 10 90 22</p>
            <p><strong>Móvil:</strong> 639 21 11 49</p>
            <p><strong>Email: </strong><a href="mailto:info@aidcw.org">info@aidcw.org</a></p>
        </address>

    </div>
</div>

{% endblock %}