{% extends 'core/base.html' %}
{% load static %}
<!--Necesario para cargar las imagenes static-->
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="contenedorImagen centrar">
            <img class="fondoContenedorImagen" src="{% static 'core/img/Nuestros_objetivos.jpg' %}" style="width:1140px" />
        </div>
        <div class="row separacionFila">
            <div class="col-md-4">
                <hr class="hrEvento" />
            </div>
            <div class="col-md-4 centrar centrarObjeto">
                <span class="letraNaranja"><strong>NUESTROS OBJETIVOS</strong></span>
            </div>
            <div class="col-md-4">
                <hr class="hrEvento" />
            </div>
        </div>
        <p class="p_hr">
            El fundamento del pensamiento de nuestra asociación se resume en DIEZ PRINCIPIOS, diez rasgos u objetivos
            sobre los que trabajar que ya la identifican y que han sido rápidamente integrados, por unanimidad, por
            todos sus miembros:
            <br />
            <br />1. Sin cuotas. Cada colaboración es personal, única y directa. Con ello queremos decir que aunque
            consideramos bienvenidas, tanto las ayudas de tipo monetario (donaciones) como las que incluyan cierta
            periodicidad (cuotas), las valoramos como tendentes a desvincular de los proyectos a los donantes y a la
            despersonalización de las colaboraciones. Por ello, apostamos por otro tipo de colaboración.

            <br /><br />2. Ayudas, directas y personales. Buscamos personarnos en el propio lugar donde se materializará
            la ayuda y/o con la colaboración de colaboradores autóctonos intermediarios que gocen de absoluta confianza
            y preparación.

            <br /><br />3. Ayuda integral. Nuestra asociación adquiere como objetivo propio, para cualquier colectivo
            objeto de ayuda, la facilitación del crecimiento progresivo humano (desarrollo sostenible) desde la
            satisfacción de necesidades: fisiológicas, de seguridad y protección, de afiliación y afecto, de estima
            grupal y de autorrealización.

            <br /><br />4. Convenios de colaboración con otras ONGs nacionales o internacionales en proyectos puntuales,
            aprovechando las infraestructuras de otras asociaciones, aprendiendo de sus formas de actuar y buscando el
            carácter integral de la ayuda.

            <br /><br />5. Prioridad: el colectivo de la infancia, aunque no descartamos intervenciones con colectivos
            formados por mujeres, sabedores de que la experiencia de estrategias de acción en esta línea llevadas a cabo
            por otras asociaciones demuestran ser, también, una de las mejores formas de ayudar de forma eficiente
            aunque indirecta a niños y niñas.

            <br /><br />6. Tres niveles de compromiso. Cada miembro de la asociación opta por una de estas tres formas
            de compromiso: socios/as fundadores/as, socios/as activo-cooperantes y socios/as colaboradores/as.

            <br /><br />7. Cada proyecto de ayuda e intervención requiere en los socios y simpatizantes un esfuerzo en
            sintonía con la filosofía propia de las dinámicas de voluntariado. Se procura tanto como sea posible que la
            participación sea de carácter voluntario y asumida en tiempo, gasto y forma por cada colaborador/a.

            <br /><br />8. Internacional. Cualquier colectivo de cualquier continente del planeta puede ser destinatario
            de la ayuda de nuestra ONG, siempre que concurran las restantes características fundacionales de la misma.

            <br /><br />9. Sensibilización local, actuación global en coherencia con la línea de trabajo de la mayoría
            de las ONG. Esta dinámica de sensibilización local formará parte de todos y cada uno de los proyectos que
            emprendamos para que cada acción tenga un efecto multiplicador.

            <br /><br />10. Carácter asambleario. Es la asamblea de la ONG, a través de sus socios fundacionales,
            cooperantes y colaboradores, quien selecciona proyectos, delega responsabilidades y evalúa cada desarrollo
            de los mismos

        </p>

    </div>
</div>



{% endblock %}